# Prerequisites
*.d

# Object files
*.o
*.obj

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# bison output
src/expandlabel.c
src/expandlabel.h
# flex output
src/parselabel.c
src/parselabel.h

# Executables
*.exe
src/rawtovcd
src/xschem

/build
CMakeLists.txt
.vscode

